@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
    font-family: sans-serif;
}

/* Fixed header CSS */
#main-header {
    width: 100%;
    height: 60px;
    background-color: #1b2632;
    display: flex;
    position: fixed;
}

#logo {
    width: max(40px, 2.083vw);
    height: max(40px, 2.083vw);
    padding: 10px;
    border-radius: 15px;
}

#main-header h1 {
    margin-top: 21px;
    color: rgb(233, 63, 67);
    font-size: min(5vw, 1.2em);
}

/* Navigation bar CSS */
nav {
    width: 70%;
    max-width: 500px;
    margin-top: 5px;
}

nav > ul {
    display: flex;
    justify-content: space-between;
}

nav > ul > li {
    color: rgb(233, 63, 67);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: rgb(233, 63, 67);
    color: #1b2632;
    cursor: pointer;
}

li > a {
    color: inherit;
    text-decoration: none;
}

/* Ensures main content is not covered by fixed header */
#header {
    width: 100%;
    height: 60px;
}

/* The main content of the page */
body {
    background: #2b6a72;
    margin: 0;
}

/* Profile and Timeline */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* has #profile and #social-media */
#left-section {
    font-size: 0.9em;
    background-color: rgb(224, 134, 149);
    width: 220px;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 10px;
}

#profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#profile img {
    max-width: 100px;
    max-height: 100px;
}

/* #profile-description {
    border: 3px solid #b2c0cf;
    margin: 0;
    padding: 10px;
} */

#social-media {
    padding: 60px 0 0 0;
    color: black;
}

#timeline {
    border: none;
    max-width: 500px;
    margin: 0;
    padding: 10px;
    background-color: rgb(182, 84, 100);
}

#timeline h2 {
    padding-left: 14px;
}

#oldtonew {
    background-color: #1b2632;
    border: none;
    font-size: 14px;
    color: #b2c0cf;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.moveRight {
    display: flex;
    justify-content: flex-end;
}

/* <div> elements separating each post */
.divide-post {
    border: 10px solid rgb(182, 84, 100);
}

.post-blog {
    max-width: 440px;
    text-align: left;
    font-size: 1em;
    padding: 5px 10px;
    margin-left: 14px;
    background-color: #1b2632;
    color: #b2c0cf;
    border-radius: 0 13px 13px 13px;
}

.blog-section {
    display: flex;
    justify-content: left;
}

.post-icon {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    border: 2px #1b2632 solid;
}

#posts {
    display: flex;
    flex-direction: column;
}

#recommendations {
    max-width: 740px;
    border: none;
    margin: 0 auto 100px;
    padding: 60px 10px 10px 10px;
    text-align: center;
    background-color: #b2c0cf;
}

#options {
    max-width: 720px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

#options a {
    text-decoration: none;
    background-color: rgb(255, 127, 249);
    padding: 0.2rem;
    color: #2b6a72;
}

#options a:hover {
    background-color: #2b6a72;
    color: #b2c0cf;
}

#chgsection {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#chgimg {
    width: 220px;
    height: 286px;
    /* 309 394 */
    object-fit: cover;
}

#chgtext {
    margin: 10px 10px 10px 20px;
    max-width: 420px;
}

footer {
    background-color: #1b2632;
    color: rgb(233, 63, 67);
    text-align: center;
}

.bold {
    font-weight: bold;
}

hr {
    border: 2px solid #b2c0cf;
    max-width: 740px;
}