@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
    font-family: "Single Day", sans-serif;
}

/* Fixed header CSS */
#main-header {
    /* min-width: 900px; */
    width: 100%;
    /* border-radius: 0px 0px 20px 20px; */
    height: 60px;
    background-color: #161f29;
    display: flex;
    justify-content: center;
    position: fixed;
}

#logo {
    width: max(40px, 2.083vw);
    height: max(40px, 2.083vw);
    padding: 10px;
    border-radius: 15px;
}

#main-header h1 {
    margin-top: 19px;
    color: rgb(233, 63, 67);
    font-size: min(5vw, 1.2em);
}

/* Navigation bar CSS */
nav {
    width: 70%;
    min-width: 405px;
    max-width: 500px;
    margin-top: -1px;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    max-width: 360px; /* edit when you add more to nav */
    font-size: 18px;
}

nav > ul > li {
    color: rgb(233, 63, 67);
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
}

nav > ul > li:hover {
    background-color: rgb(233, 63, 67);
    color: #1b2632;
    cursor: pointer;
    border-radius: 1px;
}

li > a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

/* Ensures main content is not covered by fixed header */
#top {
    width: 100%;
    height: 72px;
}

#middle {
    max-width: 740px;
    height: 55px;
    background-color: rgb(228, 85, 88);
    margin: 0 auto 10px;
    border-radius: 25px;
}

/* The main content of the page */
body {
    background: #2b6a72;
    margin: 0;
}

/* Profile and Timeline */
main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* has #profile and #social-media */
#left-section {
    font-size: 0.9em;
    width: 220px;
    display: flex;
    flex-direction: column;
    border: none;
    margin: 0;
    padding: 10px;
}

#profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: #1b2632;
    border-radius: 10px;
    padding: 25px 0 0 0;
}

#profile img {
    max-width: 95px;
    max-height: 95px;
    border: 2px solid #2b6a72;
    border-radius: 10px;
}

#profile-description {
    padding: 10px 20px;
    color: #b2c0cf;
}

#profile-description p {
    font-size: 18px;
}

#timeline {
    border: none;
    max-width: 500px;
    margin: 0;
    padding: 10px;
}

#timeline h2 {
    padding: 20px 10px 15px 16px;
    margin: 0 0 5px 0;
    color: #1b2632;
    background-color: rgb(228, 85, 88);
    border-radius: 3px;
    font-size: 35px;
}

#oldtonew {
    background-color: #1b2632;
    border: none;
    font-size: 14px;
    color: #b2c0cf;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}

#oldtonew:hover {
    cursor: pointer;
    background-color: #508c94;
    color: #b2c0cf;
}

.moveRight {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(79, 129, 129);
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 10px;
}

/* <div> elements separating each post */
.divide-post {
    padding: 10px;
}

.post-blog {
    max-width: 440px;
    text-align: left;
    font-size: 1em;
    padding: 5px 15px;
    margin-left: 14px;
    margin-right: 10px;
    background-color: #1b2632;
    color: #b2c0cf;
    border-radius: 0 13px 13px 13px;
}

.post-blog h4 {
    font-family: "Protest Riot", sans-serif;
    font-weight: 1;
}

.post-blog p {
    font-family: Nunito, sans-serif;
    font-size: 15px;
}

#post-line {
    border: solid 1px #b2c0cf;
}

.blog-section {
    display: flex;
    justify-content: left;
}

.post-icon {
    width: 36px;
    height: 36px;
    margin-left: 4px;
    padding: 0;
    border: 2px #1b2632 solid;
    border-radius: 3px;
}

#posts {
    display: flex;
    flex-direction: column;
    background-color: rgb(117, 161, 161);
    padding: 10px;
    border-radius: 0 0 3px 3px;
}

#recommendations {
    max-width: 740px;
    border: none;
    margin: 0 auto 20px;
    padding: 10px 14px 20px;
    text-align: center;
    background-color: #152536;
    border-radius: 25px;
    color: #b2c0cf;
}

#recommendations h4 {
    font-size: 20px;
    font-weight: 2;
}

#options {
    max-width: 720px;
    padding: 0 10px 10px 10px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

#blueperiod, #omori, #serenade {
    text-decoration: none;
    background-color: rgb(233, 63, 67);
    padding: 0.5rem;
    color: #152536;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#options a:hover {
    color: #b2c0cf;
}

#magi {
    text-decoration: none;
    background-color: #2b6a72;
    padding: 0.5rem;
    color: #152536;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}

#chgtitle {
    font-size: 21px;
    font-weight: 2;
}

#chgsection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 1;
}

#chgimg {
    min-width: 154px;
    min-height: 197px;
    max-width: 220px;
    max-height: 286px;
    /* 309 394 */
    object-fit: cover;
    border-radius: 25px;
}

#chgtext {
    margin: 10px 30px 60px;
    max-width: 420px;
}

footer {
    background-color: #1b2632;
    color: rgb(233, 63, 67);
    text-align: center;
    padding: 10px;
}

#social-media {
    background-color: #1b2632;
    border-radius: 10px;
    color: #b2c0cf;
}

#social-media a {
    text-decoration: none;
    color: #b2c0cf;
}

#social-media a:hover {
    color: #2b6a72;
}

.bold {
    font-weight: bold;
    font-family: Barlow, sans-serif;
    font-size: 15px;
}

hr {
    border: 1px solid #1b2632;
    max-width: 740px;
}

.button:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.nunito {
    font-family: Nunito, sans-serif;
    font-size: 14px;
}